body {
    font-family: 'Poppins', sans-serif;
}
main {
    background-color: #dadfe8;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pokedex {
    display: flex;
    gap: 30px;
    padding: 30px 0;
}
.cartao-pokemon{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    display: none;
}
.cartao-topo {
    padding: 30px 40px 0;
}
.nome {
    margin-bottom: 5px;
}
.tipo {
    font-size: 12px;
    background-color: #ffffff;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.detalhes {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartao-imagem {
    width: 350px;
    height: 350px;
}
.cartao-pokemon img {
    max-height: 100%;
}
.cartao-informacoes {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 80px 30px 50px;
    margin-top: -70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.cartao-informacoes h3 {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6b727a;
}
.status {
    padding: 0 10px;
    width: 180px;
}
.habilidades {
    padding: 0 10px;
    width: 180px;
}
.cartao-pokemon ul li {
    border-bottom: 1px solid #c3c4c5;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 15px;
}
.cartao-pokemon.aberto {
    display: block;
}
.tipo-fogo {
    background-color: #ed8a8b;
}
.tipo-eletrico {
    background-color: #fcc719;
}
.tipo-agua {
    background-color: #76befe;
}
.tipo-grama {
    background-color: #49d0b0;
}
.tipo-treva {
    background-color: #ba68c8;
}
.tipo-dragao {
    background-color: #c29791;
}
.listagem {
    max-width: 200px;
}
.pokemon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #6b727a;
    color: #ffffff;
    padding: 0 5px;
    cursor:pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.15s ease-in-out;
}
.pokemon img {
    width: 25%;
    border-radius: 50%;
}
.pokemon:hover {
    transform: scale(1.05);
}
.pokemon span {
    padding-right: 20px;

}
.pokemon.ativo {
    background-color: #fa6668;
}